<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/blocks"><h1><%= blockchain.title %></h1></a>
      <p><%= blockchain.description %></p>
      <p>提供可信web服务的区块链加密货币实践</p>
    </div>
  </div>
</div>
