<div class="peer-content">
  <div class="eight wide column">
    <div class="ui segment">
      <h3><a href="/peers/<%= peer.addr.full %>">节点地址：<%= peer.addr.full %></a></h3>
      <pre>节点状态：<%- peer.state %></pre>
    </div>
  </div>
</div>
</div>
